<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="resume.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="box1">
        <div id="sec1">
            <div>
                <img src="../assets/1me2.png" alt="">
            </div>
            <div id="contact">
                <div>
                    <span class="material-symbols-outlined">call</span>
                    <h4>+91 7838771118</h4>
                </div>
                <div>
                    <span class="material-symbols-outlined">location_on</span>
                    <h4>Delhi, India</h4>
                </div>
                <div>
                    <span class="material-symbols-outlined">mail</span>
                    <h4>rampravesh164191@gmail.com</h4>
                </div>
                <div>
                    <a target="_blank" href="https://www.linkedin.com/in/rampravesh164191/">
                        <svg height="30" width="30" fill="currentColor" className="text-[#E34F26] bg-white" role="img"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>linkedin</title>
                            <path
                                d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z" />
                        </svg>
                    </a>
                    <a target="_blank" href="https://github.com/rampravesh164191">
                        <svg width="30" height="30" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>GitHub</title>
                            <path
                                d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                        </svg>
                    </a>
                    <a href="">
                        <span style="font-size: 30px; color: black;" class="material-symbols-outlined">language</span>
                    </a>
                </div>
            </div>
            <div id="edu">
                <h2>Education</h2>
                <div>
                    <h4>Dropped out (BCA)</h4>
                    <p>2018-2019</p>
                </div>
                <div>
                    <h4>Government job preparation</h4>
                    <p>2019-2021</p>
                </div>
                <div>
                    <h4>Worked diverse roles</h4>
                    <p>(field sales, telecalling, teaching etc)</p>
                    <p>2021-2024</p>
                </div>
                <div>
                    <h4>Masai</h4>
                    <p>2025 - present</p>
                </div>
            </div>
            <div id="skills">
                <h2>Tech-Skills</h2>
                <div>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>React</li>
                        <li>Redux</li>
                        <li>Tailwind</li>
                        <li>Git</li>
                    </ul>
                    <ul>
                        <li>Node.js</li>
                        <li>Express.js</li>
                        <li>MongoDB</li>
                        <li>Mongoose</li>
                        <li>Redis</li>
                        <li>Postman</li>
                        <li>Firebase</li>
                    </ul>
                </div>
            </div>
            <div id="soft">
                <h2>Soft-Skills</h2>
                <ul>
                    <li>Adaptability</li>
                    <li>Communication</li>
                    <li>Work Ethic</li>
                    <li>Time Management</li>
                    <li>Team Collaboration</li>
                    <li>Creativity</li>
                </ul>
            </div>
        </div>
        <div id="sec2">
            <div>
                <h1>Ram Pravesh Sharma</h1>
                <h2>Full Stack Developer</h2>
                <p>Aspiring Full-stack developer with hands-on experience in building scalable web applications. I bring
                    strong adaptability, problem-solving, and commitment to continuous learning. Currently skilled in
                    MERN stack and focused on writing clean, efficient, and user-friendly solutions.</p>
            </div>
            <div id="projects">
                <h1>Projects</h1>
                <div>
                    <fieldset>
                        <legend>Grocery List Manager (2025)</legend>
                        <h4>Implemented Features :</h4>
                        <ul>
                            <li>Shop grocery items.</li>
                            <li>Choose dish and check ingredients it require to cook.</li>
                            <li>Calculates multiple dish required cooking ingredients.</li>
                            <li>Calculate total items left in grocery.</li>
                            <li>Used Local Storage for data calculation.</li>
                        </ul>
                        <div>
                            <a target="_blank" href="https://github.com/rampravesh164191/grocery_list_manager">
                                <svg width="20" height="20" role="img" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>GitHub</title>
                                    <path
                                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                                </svg>Github
                            </a>
                            <a target="_blank" href="https://darling-klepon-897c85.netlify.app/">
                                <span style="font-size: 23px; color: black;"
                                    class="material-symbols-outlined">language</span>Visit
                            </a>
                        </div>
                    </fieldset>
                </div>
                <div>

                    <fieldset>
                        <legend>Goal Craft (2024)</legend>
                        <h4>Implemented Features :</h4>
                        <ul>
                            <li>Task Management, create task, delete, delete task</li>
                            <li>Priritize task and track progress</li>
                            <li>Productivity with Pomodoro technique.</li>
                            <li>Listen to music while working, customize playlist.</li>
                            <li>Firebase for backend.</li>
                        </ul>
                        <div>
                            <a target="_blank" href="https://github.com/rampravesh9991/Constitution-Coders_020">
                                <svg width="20" height="20" role="img" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>GitHub</title>
                                    <path
                                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                                </svg>Github
                            </a>
                            <a target="_blank" href="https://constitution-coders-020.vercel.app/">
                                <span style="font-size: 23px; color: black;"
                                    class="material-symbols-outlined">language</span>Visit
                            </a>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="hobbies">
                <h2>Hobbies </h2>
                <ul>
                    <li>Exploring psychology concepts & science facts</li>
                    <li>Light fitness and staying active</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>