*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
    font-family: sans-serif;
}
/* #container{
    border: 1px solid black;
    width: 794px;
    height: 1123px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */
#box1{
    /* border: 1px solid black; */
    width: 774px;
    height: 1103px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

#sec1{
    /* border: 1px solid black; */
    width: 40%;
    height: 100%;
    background-color: rgb(214, 168, 111);
}
#sec1>div{
    /* border: 1px solid black; */
    width: 100%;
    height: 20%;
}
#sec1>div:nth-child(1){
    /* border: 1px solid black; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec1>div:nth-child(2){
    height: 15%;
}
#sec1>div>img{
    height: 80%;
    border-radius: 50%;
    margin-top: 20px;
}
#contact > div{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
#contact > div:nth-child(4){
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 10px 10px;
}
#contact > div:nth-child(4)>a{
    text-decoration: none;
}
#contact > div:nth-child(4)>a:nth-child(1)>svg{
    color: #0A66C2;
}
#sec1 > #edu {
    height: 25%;
    padding: 10px 20px;
}
#edu > h2{
    text-align: center;
    margin-bottom: 15px;
}
#edu > div{
    margin-bottom: 10px;
}
#skills > h2{
    text-align: center;
}
#skills > div{
    /* border: 1px solid black; */
    height: 88%;
    width: 100%;
    display: flex;
}
#skills > div > ul{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    padding: 10px 30px;
}
#skills > div > ul > li{
    padding: 3px;
}
#soft > h2{
    text-align: center;
    margin-top: 10px;
}
#soft > ul{
    padding: 10px 30px;
}
#soft > ul > li{
    padding: 3px;
}
#sec2{
    /* border: 1px solid black; */
    width: 60%;
    height: 100%;
}
#sec2>div:nth-child(1){
    /* border: 1px solid black; */
    width: 100%;
    height: 20%;
    padding: 20px;
}
#sec2>div:nth-child(1) > h1{
    margin-bottom: 7px;
    margin-top: 5px;
}
#sec2>div:nth-child(1) > h2{
    margin-bottom: 7px;
}
#sec2>div:nth-child(1) > p{
    margin-bottom: 7px;
}
#sec2>div:nth-child(2){
    /* border: 1px solid black; */
    width: 100%;
}
#sec2>div:nth-child(3){
    /* border: 1px solid black; */
    width: 100%;
    height: 20%;
}

#projects > h1{
    padding-left: 20px;
    margin-bottom: 5px;
}
#projects > div{
    padding: 10px 20px;
}

#projects > div > fieldset{
    padding: 5px 20px;
}
#projects > div > fieldset > legend{
    font-weight: bold;
}
#projects > div > fieldset > ul{
    padding: 0px 20px;
}
#projects > div > fieldset > ul > li{
    padding: 3px 0px;
}
fieldset > div{
    height: 40px;
    display: flex;
}
fieldset > div > a{
    /* border: 1px solid black; */
    padding: 3px 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-right: 10px;
}
div > a:hover{
    color: white;
    background-color: rgb(182, 118, 228);
}
fieldset >div > a > svg{
    margin-right: 7px;
}
fieldset> div > a > span{
    padding-right: 7px;
}
#hobbies > h2{
    padding: 10px 20px;
}
#hobbies > ul {
    padding: 10px 40px;
}
#hobbies > ul > li{
    padding: 3px;
}